<h1> Hello world!</h1>
<p class="w-50 mx-auto">

There are only a few special days that are as notorious as Valentine's Day, because no matter the day of the week, 

we’re all going to be flooded with quotes about romance and how best to show love to the people we care about during this day. 

 

As your self-designated wing bank, let's face it, shopping for gifts isn't easy! However,
 we can all agree that there’s one gift, which no matter the season, is always appreciated, and that’s cash!  We know, 
 giving cash gifts might come off a bit too lazy, but you see that’s where we come in with our Gift cards. 

  

Nothing screams romance like a gift card pre-loaded with cash for your loved one. 
Over here we believe in the philosophy that Flowers and Chocolates are for a while ( for real, they expire) 
but a Wema gift card, now that’s a gift for all seasons. 
</p>